.main {
  padding: var(--size-1) var(--size-2);
  background: #eeeeee;
}

.button {
  margin: var(--size-0);
  padding: var(--size-0) var(--size-1);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  font-size: 1.5rem;
  background: white;
}
