.main {
  padding: var(--size-2);
  display: flex;
}

.input {
  flex-grow: 1;
  height: calc(1.5 * var(--size-input));
  padding: var(--size-1) var(--size-2);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background: var(--bg-disabled);
  color: var(--color-disabled);
  font-size: var(--size-input);
  overflow: hidden;
}

.listening {
  background: var(--bg-accent);
  color: var(--color-accent);
}

.listen {
  min-width: 70px;
  padding: var(--size-1);
  border: 1px solid var(--border);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.listen:hover {
  background: var(--bg-hover);
}

.word {
  display: inline-block;
  white-space: pre;
  cursor: pointer;
}

.blank {
  display: inline-block;
  white-space: pre;
}
